body{
    background-color:#a38bd3;
  }  
  .boton {
    position: relative;
    top: 240px; 
  
    display: table;
    border-radius: 5%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(145, 120, 120, 0.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  /* Al presionar */
  .boton:active,.boton2:active,.boton3:active,.boton4:active{
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
    background-size: contain; /* Cambiamos el tamaño de la imagen */
  }
  .boton{
    display: inline-block;
  }
  
  .boton2 {position: relative;
    top: -45px; left:320px;
  
    display: table;
    border-radius: 5%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton3 {position: relative;
    top: -295px; left:650px;
  
    display: table;
    border-radius:5%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton4 {position: relative;
    top: -140px; left:785px;
  
    display: table;
    border-radius: 100%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  
  }
  
  .leekids{
    position: relative;
      top: -5px; left:25px;
    
      display: table;
      border-radius: 10%;
      cursor: pointer;
        box-shadow:
    /* Sombras externa */
    inset 0 10px 15px rgba(255, 243, 239, 1.933), inset 0 -10px 15px rgba(0, 0, 0, 0.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
    /* Sombra interna */
    0 2px 20px rgb(74, 175, 242);
  }
  .leekids{
    display: inline-block;
  }
  .leekids:active {
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
    background-size: 100%; /* Cambiamos el tamaño de la imagen */
  }
  