
body{
    background-color:#4ebddf;
  }
  .boton {
    position: relative;
    top: 8px; left:10px;
  
    display: table;
    border-radius: 15%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  /* Al presionar */
  .boton:active,.boton2:active,.boton3:active,.boton4:active,.boton5:active,.boton6:active,.boton7:active,.boton8:active,.boton9:active,.boton0:active,.boton11:active{
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
    background-size: contain; /* Cambiamos el tamaño de la imagen */
  }
  .boton,.boton2,.boton3,.boton4,.boton5,.boton6,.boton7,.boton8,.boton9,.boton0,.boton11{
    display: inline-block;
  }
  .boton2 {position: relative;
    top: -145px; left:190px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton3 {position: relative;
    top: -295px; left:368px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton4 {position: relative;
    top: -445px; left:545px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton5 {position: relative;
    top: -595px; left:725px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton6 {position: relative;
    top: -580px; left:10px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton7 {position: relative;
    top: -730px; left:190px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton8 {position: relative;
    top: -880px; left:370px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
  
  .boton9 {position: relative;
    top: -1030px; left:545px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
    .boton0 {position: relative;
    top: -1180px; left:725px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
  }
    .boton11{position: relative;
    top: -1190px; left:780px;
  
    display: table;
    border-radius: 70%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 5px 20px rgba(0,0,0,.1);
}
.leekids{
  position: relative;
    top: -5px; left:25px;
  
    display: table;
    border-radius: 10%;
    cursor: pointer;
      box-shadow:
  /* Sombras externa */
  inset 0 10px 15px rgba(255, 243, 239, 1.933), inset 0 -10px 15px rgba(0, 0, 0, 0.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
  /* Sombra interna */
  0 2px 20px rgb(74, 99, 242);
}
.leekids{
  display: inline-block;
}
.leekids:active {
  box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 100%; /* Cambiamos el tamaño de la imagen */
}
