body{
    background-image: url(http://localhost/Proyectojuego-master/Models/Vocales/assets/img/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: blueviolet;  
}
#inicio{
    margin-top: 24%;
    margin-left: 32%;
    height: 350px;
}
#salir{
    margin-top: 20%;
}
#casita{
    height: 100px;
    width: 100px;
    margin-top: -40%;
}