body{
    background-image: url(http://localhost/Proyectojuego/Models/Vocales/assets/img/level.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: blueviolet;  
}
#rv1{
    height: 100px;
    width: 100px;
    margin-top: -1380%;
    margin-left: 2000%;
}
#rv2{
    height: 100px;
    width: 100px;
    margin-top: -1480%;
    margin-left: 2150%;
}
#rv3{
    height: 100px;
    width: 100px;
    margin-top: -1580%;
    margin-left: 2300%;
}
#rv4{
    height: 120px;
    width: 120px;
    margin-top: -1490%;
    margin-left: 2158%;
}
#casita{
    height: 100px;
    width: 100px;
    margin-top: -44%;
}
.rv{
    width: 50px;
}
