body{
    background-image: url(http://localhost/Proyectojuego-master/Models/Vocales/assets/img/level.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: blueviolet;  
}
#casita{
    height: 100px;
    width: 100px;
    margin-top: -42%;
}
#lv1{
margin-left: 20%;
}
#lv2{

}