h1 {
    font-size: 500%;
    font-family: 'Helvetica Neue';
   color: #2980B9; }
.boton{
   text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
         text-align:center;
         text-decoration: none;
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   display:inline-block;
         color: #FFF;
         background: #7F8C8D;
         padding: 7px 20px;
         white-space: nowrap;
         -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
         border-radius: 100px;
         margin: 10px 5px;
         -webkit-transition: all 0.2s ease-in-out;
         -ms-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
         transition: all 0.2s ease-in-out;
}
.amarillo{
   background: #d9e946;
   box-shadow: 0px 3px 0px 0px #808080;
   font-size:40px;
font-weight:bold;
width:100px;
height:50px;
   }
   
   .amarillo:hover{
   background: #d9e946;
   }
   
   .amarillo:active{
   box-shadow: 0px 0px 0px 0px #2980B9;
   }
.azul{
background: #3498DB;
box-shadow: 0px 3px 0px 0px #2980B9;
font-size:40px;
font-weight:bold;
width:100px;
height:50px;
}

.azul:hover{
background: #39a0e5;
}

.azul:active{
box-shadow: 0px 0px 0px 0px #2980B9;
}

.verde{
background: #2ECC71;
box-shadow: 0px 5px 0px 0px #27AE60;
font-size:40px;
font-weight:bold;
width:100px;
height:50px;
}

.verde:hover{
background: #32db78;
}

.verde:active{
box-shadow: 0px 2px 0px 0px #27AE60;
}
.violeta{
   background: rgb(231, 26, 187);
   box-shadow: 0px 5px 0px 0px rgb(192, 43, 147);
   font-size:40px;
font-weight:bold;
width:100px;
height:50px;
   }
   
   .violeta:hover{
   background: #f03c9f;
   }
   
   .violeta:active{
   box-shadow: 0px 2px 0px 0px #f03c9f;
   }
.rojo{
background: #E74C3C;
box-shadow: 0px 5px 0px 0px #C0392B;
font-size:40px;
font-weight:bold;
width:100px;
height:50px;
}

.rojo:hover{
background: #ff5242;
}

.rojo:active{
box-shadow: 0px 2px 0px 0px #C0392B;
}